@import "../partials/color";
.blogPost,
.postExcerpt {
  padding: 1rem;
  border-radius: 1rem;
  background: $dark-blue3;
  background-size: 55px 20px;
  border: 1px solid $white;
  box-shadow: 0 1px 1px $dark-blue;
  padding: 1rem;
  border-radius: 1rem;

  & h1,
  div,
  p,
  span {
    color: $white;
  }

  & h3 a {
    color: $light-blue;
  }
}
