.blogPost,
.postExcerpt {
  padding: 1rem;
  border-radius: 1rem;
  background: #3a506b;
  background-size: 55px 20px;
  border: 1px solid #fff;
  box-shadow: 0 1px 1px #0b132b;
  padding: 1rem;
  border-radius: 1rem; }
  .blogPost h1,
  .blogPost div,
  .blogPost p,
  .blogPost span,
  .postExcerpt h1,
  .postExcerpt div,
  .postExcerpt p,
  .postExcerpt span {
    color: #fff; }
  .blogPost h3 a,
  .postExcerpt h3 a {
    color: #5bc0be; }
