.desktopHeader {
  display: none; }

@media screen and (min-width: 1000px) {
  .desktopHeader {
    display: block;
    position: fixed;
    right: 0;
    top: -1px;
    width: 14vw; }
    .desktopHeader ul {
      list-style: none;
      background: #3a506b;
      animation: 0.6s ease-out 0s 1 slideInFromTop; }
      .desktopHeader ul li {
        text-align: center;
        border-top: 1px solid #fff;
        box-shadow: 0 1px 1px #0b132b;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        margin: 0;
        padding: 0.5rem;
        padding-left: 0;
        font-family: abel, sans-serif; }
        .desktopHeader ul li a {
          color: #fff;
          text-decoration: none; }
        .desktopHeader ul li :hover {
          color: #5bc0be; }
        .desktopHeader ul li .homeButton {
          border-top-left-radius: 1rem; }
    .desktopHeader .openButton {
      margin-top: -1px;
      margin-right: -1px;
      border-radius: 0; }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%); }
    100% {
      transform: translateY(0); } } }
