.faq h4 {
  background: #0b132b;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.15rem; }
.faq p {
  padding-bottom: 1.5rem;
  padding: 10px;
  margin-top: -0.2rem;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  background: #3a506b;
  margin-bottom: 2rem; }
