@import "../partials/color";

footer {
  width: 100%;
  background: $netflix-black;
  position: absolute;
  left: 0;
  display: block;
  z-index: 2;
  padding-bottom: 1rem;
  margin-top: 2.5rem;

  & button {
    width: 100%;
    height: 41px;
    color: $netflix-white;
    background: $netflix-black;
    border: none;
    margin-bottom: 1.5vw;
    padding: 1vw;
    padding-bottom: 2.5vw;
    border-top: 1vw ridge $netflix-red;

    &:hover {
      border-top: 1vw ridge $gold;
      cursor: pointer;
      color: $netflix-black;
      background: $netflix-white;
    }
  }

  & .copyRightP {
    color: $netflix-white;
    margin-left: 1vw;
    margin-top: 2vw;
  }

  & .socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 7vh;

    & a {
      color: $gold;

      &:hover {
        color: darken($gold, 10%);
      }
    }
  }
}
