.lightMode {
  background: #5bc0be; }
  .lightMode h1,
  .lightMode h2,
  .lightMode h3,
  .lightMode h4,
  .lightMode h5,
  .lightMode h6,
  .lightMode p {
    color: #0b132b; }
  .lightMode #homeNav {
    background: #1c2541;
    border: 1px solid white; }
    .lightMode #homeNav h2 {
      color: #fff;
      border-bottom: 1px solid #fff; }
    .lightMode #homeNav li a {
      color: #fff; }
  .lightMode .aboutDavid {
    background: #1c2541; }
    .lightMode .aboutDavid h2 {
      color: #0b132b;
      background: #fff; }
    .lightMode .aboutDavid p {
      color: #fff; }
    .lightMode .aboutDavid button {
      color: #fff; }
  .lightMode .valuePropositionCards .card {
    background: #0b132b; }
    .lightMode .valuePropositionCards .card h2 {
      background: #1c2541;
      color: #fff;
      border: 2px solid #5bc0be;
      box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 0.75); }
    .lightMode .valuePropositionCards .card h4 {
      color: #fff; }
      .lightMode .valuePropositionCards .card h4 ul {
        border: 0.25rem groove #0b132b;
        background: #0b132b;
        color: #fff; }
        .lightMode .valuePropositionCards .card h4 ul li {
          border: 1px solid #3a506b; }
          .lightMode .valuePropositionCards .card h4 ul li a {
            color: #3a506b; }
            .lightMode .valuePropositionCards .card h4 ul li a:hover {
              color: #1c2541; }
          .lightMode .valuePropositionCards .card h4 ul li .fa-check-square {
            color: #5bc0be; }
  .lightMode .faq {
    padding-bottom: 2rem; }
    .lightMode .faq h4 {
      background: #0b132b;
      color: #fff; }
    .lightMode .faq p {
      background: #fff;
      color: #0b132b; }
  .lightMode .techStack .technologyComponent {
    background: #0b132b;
    box-shadow: 0px 2px 2px black; }
    .lightMode .techStack .technologyComponent h1,
    .lightMode .techStack .technologyComponent p {
      color: #fff; }
    .lightMode .techStack .technologyComponent a {
      color: #5bc0be; }
  .lightMode .packageWrapper {
    background: #0b132b; }
    .lightMode .packageWrapper h3 {
      padding: 1rem;
      background: #4285f4;
      box-shadow: 0 2px 2px #0b132b;
      border: 2px ridge #fff; }
    .lightMode .packageWrapper .textColor {
      color: white; }
    .lightMode .packageWrapper .liColor {
      color: black; }
  .lightMode .blogPost,
  .lightMode .postExcerpt {
    background: #ff2e2e;
    border: 1px solid black;
    box-shadow: 0 1px 1px #0b132b;
    padding: 1rem;
    border-radius: 1rem; }
    .lightMode .blogPost h1,
    .lightMode .blogPost div,
    .lightMode .blogPost p,
    .lightMode .blogPost span,
    .lightMode .postExcerpt h1,
    .lightMode .postExcerpt div,
    .lightMode .postExcerpt p,
    .lightMode .postExcerpt span {
      color: #fff; }
