@import "../partials/color";
@import "../partials/box-shadow";
@import "../partials/border";

.lightMode {
  background: $light-blue;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $dark-blue;
  }

  & #homeNav {
    background: $dark-blue2;
    border: 1px solid white;

    & h2 {
      color: $white;
      border-bottom: 1px solid $white;
    }
    & li {
      & a {
        color: $white;
      }
    }
  }

  & .aboutDavid {
    background: $dark-blue2;

    & h2 {
      color: $dark-blue;
      background: $white;
    }

    & p {
      color: $white;
    }

    & button {
      color: $white;
    }
  }

  & .valuePropositionCards {
    & .card {
      background: $dark-blue;

      & h2 {
        background: $dark-blue2;
        color: $white;
        border: 2px solid $light-blue;

        @include BS-slight-down;
      }

      & h4 {
        color: $white;

        & ul {
          @include groove-border(0.25rem, $dark-blue);
          background: $dark-blue;
          color: $white;
          & li {
            border: 1px solid $dark-blue3;

            & a {
              color: $dark-blue3;
              &:hover {
                color: $dark-blue2;
              }
            }

            & .fa-check-square {
              color: $light-blue;
            }
          }
        }
      }
    }
  }

  & .faq {
    & h4 {
      background: $dark-blue;
      color: $white;
    }
    & p {
      background: $white;
      color: $dark-blue;
    }
    padding-bottom: 2rem;
  }

  & .techStack {
    & .technologyComponent {
      background: $dark-blue;
      box-shadow: 0px 2px 2px black;
      & h1,
      p {
        color: $white;
      }

      & a {
        color: $light-blue;
      }
    }
  }

  & .packageWrapper {
    background: $dark-blue;

    & h3 {
      padding: 1rem;
      background: $google-blue;
      box-shadow: 0 2px 2px $dark-blue;
      border: 2px ridge $white;
    }

    & .textColor {
      color: white;
    }

    & .liColor {
      color: black;
    }
  }

  & .blogPost,
  .postExcerpt {
    background: rgb(255, 46, 46);
    border: 1px solid black;
    box-shadow: 0 1px 1px $dark-blue;
    padding: 1rem;
    border-radius: 1rem;
    & h1,
    div,
    p,
    span {
      color: $white;
    }
  }
}
