/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  background: #52a0fd;
  background: -moz-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  background: -webkit-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%); }

.bg-gradient2 span,
.bg-gradient2:before {
  background: #44ea76;
  background: -moz-linear-gradient(left, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  background: -webkit-linear-gradient(left, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%); }

.bg-gradient3 span,
.bg-gradient3:before {
  background: #fa6c9f;
  background: -moz-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
  background: -webkit-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
  background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%); }

/* General */
.wrapper {
  margin: 0 auto;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 800px;
  overflow: hidden;
  max-width: 100%; }

/* fancy Button */
.fancybutton {
  display: inline-block;
  margin: 30px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  position: relative; }
  .fancybutton i {
    margin-top: -1px;
    margin-right: 20px;
    font-size: 1.265em;
    vertical-align: middle; }
  .fancybutton span {
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out; }
  .fancybutton:focus, .fancybutton:active {
    color: #ffffff; }
  .fancybutton:hover {
    color: #f5f5f1; }
    .fancybutton:hover span {
      filter: brightness(1.05) contrast(1.05);
      transform: scale(0.95); }
    .fancybutton:hover:before {
      bottom: 0;
      filter: blur(10px) brightness(0.95); }
  .fancybutton.pop-onhover:before {
    opacity: 0;
    bottom: 10px; }
  .fancybutton.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    filter: blur(20px); }
  .fancybutton.pop-onhover:hover span {
    transform: scale(1.04); }
  .fancybutton.pop-onhover:hover:active span {
    filter: brightness(1) contrast(1);
    transform: scale(1);
    transition: all 0.15s ease-out; }
  .fancybutton.pop-onhover:hover:active:before {
    bottom: 0;
    filter: blur(10px) brightness(0.95);
    transition: all 0.2s ease-out; }
