@import "../partials/color";

@mixin gradientBg($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(
    left,
    $startColor 0%,
    $endColor 80%,
    $endColor 100%
  );
  background: -webkit-linear-gradient(
    left,
    $startColor 0%,
    $endColor 80%,
    $endColor 100%
  );
  background: linear-gradient(
    to right,
    $startColor 0%,
    $endColor 80%,
    $endColor 100%
  );
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  @include gradientBg(#52a0fd, #00e2fa);
}
.bg-gradient2 span,
.bg-gradient2:before {
  @include gradientBg(#44ea76, #39fad7);
}
.bg-gradient3 span,
.bg-gradient3:before {
  @include gradientBg(#fa6c9f, #ffe140);
}

/* General */
.wrapper {
  margin: 0 auto;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 800px;
  overflow: hidden;
  max-width: 100%;
}

/* fancy Button */
.fancybutton {
  // overflow: hidden;
  display: inline-block;
  margin: 30px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  i {
    margin-top: -1px;
    margin-right: 20px;
    font-size: 1.265em;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  &:focus,
  &:active {
    color: #ffffff;
  }
  &:hover {
    color: $netflix-white;

    span {
      filter: brightness(1.05) contrast(1.05);
      transform: scale(0.95);
    }
    &:before {
      bottom: 0;
      filter: blur(10px) brightness(0.95);
    }
  }
  &.pop-onhover {
    &:before {
      opacity: 0;
      bottom: 10px;
    }
    &:hover {
      &:before {
        bottom: -7px;
        opacity: 1;
        filter: blur(20px);
      }
      span {
        transform: scale(1.04);
      }
      &:active {
        span {
          filter: brightness(1) contrast(1);
          transform: scale(1);
          transition: all 0.15s ease-out;
        }
        &:before {
          bottom: 0;
          filter: blur(10px) brightness(0.95);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
