.techStack {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center; }
  .techStack .technologyComponent {
    background: #3a506b;
    width: 25vw;
    padding: 20px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 10% 0; }
    .techStack .technologyComponent p {
      font-size: 1rem;
      color: #fff; }
    .techStack .technologyComponent h1 {
      color: #fff;
      font-size: 2rem; }
    .techStack .technologyComponent .technologyImg {
      height: 40px; }
    .techStack .technologyComponent .readMore {
      color: #5bc0be; }

@media (max-width: 500px) {
  .techStack {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center; }
    .techStack .technologyComponent {
      width: 90vw;
      padding: 15px;
      margin: 10px;
      border: 1px solid #5bc0be;
      border-radius: 10% 0; }
      .techStack .technologyComponent p {
        font-size: 1rem; }
      .techStack .technologyComponent h1 {
        font-size: 2rem; }
      .techStack .technologyComponent .technologyImg {
        height: 5rem; } }
