@import "../partials/color";

.techStack {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;

  & .technologyComponent {
    background: $netflix-white;
    width: 25vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10% 0;

    & p {
      font-size: 1rem;
      color: $netflix-black;
    }

    & h1 {
      color: $netflix-black;
      font-size: 2rem;
    }

    & .technologyImg {
      height: 40px;
    }
  }
}

@media (max-width: 500px) {
  .techStack {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    & .technologyComponent {
      width: 90vw;
      padding: 15px;
      margin: 10px;
      border: 1px solid rgb(208, 190, 190);
      border-radius: 10% 0;

      & p {
        font-size: 1rem;
      }

      & h1 {
        font-size: 2rem;
      }

      & .technologyImg {
        height: 5rem;
      }
    }
  }
}
