@import "../partials/color";
@import "../partials/size";
@import "../partials/box";
@import "../partials/border";
@import "../partials/box-shadow";
@import "../partials/text";

.valueProposition {
  & .valuePropositionTitle {
    @include stdh1;
  }

  & .slogan {
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    color: $light-blue;
    font-size: 3.8vw;
    padding: 2vw;
    background: $dark-blue;
    border-bottom: 0.5rem ridge $dark-blue3;
    @include BS-slight-down;
  }

  & .card {
    border: 3px solid $white;
    background: $dark-blue3;

    border-radius: 1rem;
    @include BS-slight-down;
    margin: 2vw auto 7vw auto;
    padding: 1vw 4vw;
    width: 100%;

    & h2 {
      text-align: center;
      margin-top: 3vw;
      font-size: 6vw;
      padding: 0.5vw;
      background: $dark-blue2;
      color: $white;
      @include solid-border(2px, $white);
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

      @include BS-slight-down;
      font-weight: 400;
    }

    & h4 {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0 auto;
      color: $white;

      & strong {
        font-size: 1.25rem;
      }
    }
    & ul {
      list-style: none;
      padding: 0 1vw;
      @include groove-border(0.25rem, $white);
      @include BS-slight-down;
      background: $dark-blue2;
      color: $white;
      margin: 1rem auto;
      & li {
        font-size: 1rem;
        border: 1px solid $light-blue;
        padding: 1rem 0.4rem;
        border-right: 0;
        border-left: 0;
        font-weight: 200;

        & a {
          color: $light-blue;

          &:hover {
            color: $dark-blue3;
          }
        }

        & .fa-check-square {
          color: $light-blue;
        }

        & .fa-arrow-right {
          display: none;
        }
      }

      & .firstLi {
        border-top: none;
      }

      & .lastLi {
        border-bottom: none;
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .valuePropositionCards {
    display: flex;
    flex-direction: row;
    margin-top: $sm-rem;

    & .card {
      margin: 1vw;
      border-radius: 0;
      padding: 0.5vw 2vw;

      & h2 {
        width: 100%;
        font-size: 2.55vw;
        margin-top: 1vw;
        padding: 0.2vw;
        color: $white;
      }

      & h4 {
        font-size: 1.5vw;
        color: $white;

        & strong {
          font-size: 1.92vw;
        }
      }
      & ul {
        & li {
          color: $white;
          font-size: 2vw;
          line-height: 2.3vw;

          & .fa-arrow-right {
            display: inline;
          }
        }
      }
    }
  }
}
