$white: #fff;
$black: #000;
$grey: #878787;
$regent-st-blue: #add8e6;
$river-bed: #48525c;
$yellow-orange: #ffa949;
$mandy: #ed616d;
$gold: rgb(255, 217, 0);

// Company-colors: https://www.w3schools.com/colors/colors_brands.asp
$netflix-red: #e50914;
$netflix-black: #221f1f;
$netflix-white: #f5f5f1;

$amazon-orange: #ff9900;
$amazon-blue: #146eb4;

$facebook-dark-blue: #3b5998;
$facebook-light-blue: #8b9dc3;
$facebook-dark-grey: #dfe3ee;
$facebook-light-grey: #f7f7f7;

$google-blue: #4285f4;
$google-yellow: #fbbc05;
$google-green: #34a853;
$google-red: #ea4335;

$linear-gradient-azn-nfx: linear-gradient(
  to bottom right,
  $amazon-orange,
  $netflix-red,
  $netflix-black
);
$linear-gradient-facebook-dark: linear-gradient(
  to bottom right,
  $facebook-dark-blue,
  $facebook-dark-grey
);
$linear-gradient-nfx: linear-gradient(
  to bottom right,
  $netflix-black,
  $netflix-red
);
$linear-gradient-nfx-grb: linear-gradient(
  10deg,
  $gold,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-red
);
$linear-gradient-rb-m-rsb: linear-gradient(
  to bottom right,
  $river-bed,
  $mandy,
  $regent-st-blue
);
$linear-gradient-rb-rsb: linear-gradient(
  to bottom right,
  $river-bed,
  $regent-st-blue
);
$linear-gradient-nagn: linear-gradient(
  to bottom right,
  $netflix-black,
  $google-red,
  $amazon-orange,
  $amazon-orange,
  $amazon-orange,
  $google-red,
  $netflix-black
);
$linear-gradient-google-gy: linear-gradient(
  to bottom right,
  $google-green,
  $google-yellow
);
$linear-gradient-google-rb: linear-gradient(
  to bottom right,
  $google-red,
  $google-blue
);
$linear-gradient-amazon: linear-gradient(
  to bottom right,
  $amazon-orange,
  $amazon-blue
);
$linear-gradient-nfx-fbk: linear-gradient(
  to bottom right,
  $facebook-light-blue,
  $netflix-white
);
$linear-gradient-nfx-grb-xtr-rvs: linear-gradient(
  35deg,
  $gold,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-white,
  $netflix-red
);
$linear-gradient-azn-nfx-tilted: linear-gradient(
  to bottom left,
  $amazon-orange,
  $netflix-black,
  $netflix-black,
  $netflix-red
);
$linear-gradient-slogan: linear-gradient(
  $netflix-white,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $netflix-black,
  $gold
);

$linear-gradient-mystery-box: linear-gradient(
  to bottom right,
  $amazon-orange,
  $gold,
  $amazon-orange,
  $google-green
);
